lightning-datatable {
    margin-top: 0.5rem;
}

:host {
    display: block;
}

.paginator {
    padding-top: 0.5rem;
}

.summary-bar {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
